black >= 22.1.0
folium
geopandas
ipywidgets
jupytext
mapclassify
matplotlib
mypy
nbsphinx
sphinx
sphinx_rtd_theme
sphinx-autodoc-typehints
stackstac >= 0.3.1
odc-algo
odc-ui
planetary-computer
pylint
pytest
pystac==1.4.0
odc-geo==0.3.0