black
dask
distributed
folium
geopandas
ipywidgets
jupytext
mapclassify
matplotlib
mypy
nbsphinx
sphinx
sphinx_rtd_theme
sphinx-autodoc-typehints
stackstac
planetary-computer
pylint
isort
pytest
pystac
odc-geo
