/* xarray widget tweaks

   Some styles from default theme interfere, so define more specific rules to
   override
*/

.rst-content section ul.xr-var-list li>* {
	  margin-top: 0px;
	  margin-bottom: 0px
}

.rst-content dl.xr-attrs dt,
.rst-content dl.xr-attrs dd {
	  margin: 0px 0 !important;
	  font-size: inherit !important;
	  background: inherit !important;
	  color: inherit !important;
	  border-top: none !important;
	  padding: 0px !important;
}

.rst-content dl.xr-attrs dt {
	  font-weight: normal !important;
	  grid-column: 1 !important;
}

.rst-content dl.xr-attrs dd {
	  grid-column: 2 !important;
}
